#logo
{
  height: 48px;
  float: left;
}

CardTitle
{
  position: relative;
}

.footer
{
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin-right: 20px;
    width: 100%;
    min-height: 50px;
    border: 1px solid #eee;
    padding: 5px;
    padding-left: 10px;
    background-color: white;
    color: #18bc9c;
}

